<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head :: head"></head>
<body>
<header th:replace="parts/header :: header"></header>
<h1 class="text-center py-3">Управление планетами: тестовое задание на стажировку</h1>
<div class="container">
    <p>Github: <a href="https://github.com/gronblack/planets-management">https://github.com/gronblack/planets-management</a></p>
    <ul>
        <li><a href="/lords">Lords</a></li>
        <li><a href="/planets">Planets</a></li>
        <li><a href="/young10">Top 10 young Lords</a></li>
    </ul>
</div>
</body>
</html>