<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:fragment="optionsForm" class="mb-3 rounded px-3 pt-1" style="background-color:#E9ECEF">
    <div class="row pb-3">
        <div class="col-md-2">
            <label for="order">Order by</label>
            <select class="form-select" id="order">
                <option value="id">Id</option>
                <option value="name" selected>Name</option>
                <option value="age">Age</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="size">Page size:</label>
            <select class="form-select" id="size">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="20">20</option>
            </select>
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioIdle" id="all" value="null" checked="checked">
                <label class="form-check-label" for="all">All</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioIdle" id="idle" value="false">
                <label class="form-check-label" for="idle">Idle</label>
            </div>
        </div>
        <div class="col d-flex justify-content-end align-items-end">
            <button type="button" class="btn btn-success" data-modal-create>Create</button>
        </div>
        <div class="col-md-1 d-flex justify-content-end align-items-end">
            <button type="button" class="btn btn-primary" data-reload>Reload</button>
        </div>
    </div>
</form>
<form th:fragment="modalBody" class="modal-body">
    <div class="input-group" data-input-group-id>
        <label class="input-group-text" for="modal-id">Id</label>
        <input type="number" class="form-control text-end" id="modal-id" name="id" readonly>
    </div>
    <div class="input-group">
        <label class="input-group-text" for="modal-name">Name</label>
        <input type="text" class="form-control text-end" id="modal-name" name="name">
    </div>
    <div class="input-group">
        <label class="input-group-text" for="modal-age">Age</label>
        <input type="number" class="form-control text-end" id="modal-age" name="age">
    </div>
    <div class="input-group">
        <label class="input-group-text" for="modal-planets">Planets</label>
        <textarea class="form-control text-end" id="modal-planets" readonly name="planets"></textarea>
    </div>
</form>
</html>